#post {
    margin: 2% auto;
}
#post-date {
    font-size: 1rem;
    color: #c4c2c2;
}
#post-title {
    margin-top: 0px;
    margin-bottom: 7px;
    font-size: 2.5rem;
    line-height: 1;
}
img {
    width: 100%;
    border-radius: 5px;
    margin: 3% 0;
}
#reading-progress {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 925;
    height: 2px;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background-color: transparent;
    color: #ffe066;
}
#reading-progress::-webkit-progress-bar {
    background-color: transparent;
}
#reading-progress::-webkit-progress-value {
    background-color: #585858;
}
#reading-progress::-moz-progress-bar {
    background-color: #585858;
}