section {
    margin: 2% 5%;
}
.section-content {
    font-size: 1.5rem;
}
#hi {
    font-size: 1.5rem;
    margin-bottom: 7px;
}
#short-intro {
    margin: 0 0 15px 0;
    font-size: 2rem;
}
#writing {
    margin :0;
}
#writing {
    font-size: 1.5rem;
}
.section-header {
    font-weight: 550;
    font-size: 1.7rem;
    margin: 1rem 0;
}
#sites-list {
    font-size: 1.3rem;
}
@media screen and (max-width: 550px){
    section {
        margin: 2% 0;;
    }
    #hi {
        font-size: 1.2rem;
    }
    #short-intro {
        font-size:1.6rem;
    }
    .section-content {
        font-size: 1.3rem;
    }
}