{% extends "base.html" %}

{% block title %}
    404 - Không tìm thấy trang
{% endblock title %}

{% block content %}
<pre>
$$\   $$\  $$$$$$\  $$\   $$\ 
$$ |  $$ |$$$ __$$\ $$ |  $$ |
$$ |  $$ |$$$$\ $$ |$$ |  $$ |
$$$$$$$$ |$$\$$\$$ |$$$$$$$$ |
\_____$$ |$$ \$$$$ |\_____$$ |
      $$ |$$ |\$$$ |      $$ |
      $$ |\$$$$$$  /      $$ |
      \__| \______/       \__|                
</pre>
<h1>Ồ, trang này không được tìm thấy</h1>
<h3>Vui lòng kiểm tra lại đường dẫn hoặc 
    <a href="mailto:quangthang@tutanota.com">liên hệ</a> mình nếu bạn nghĩ đây là một lỗi.</h3>
<a href="/" class="button blue-bg">Trở về trang chủ</a>
<script type="text/javascript">
    var userLang = navigator.language || navigator.userLanguage; 
    if(userLang != "vi-VN"){
        document.querySelector("h1").textContent = "Oops, page not found."
        document.querySelector("h3").textContent = "Please double check the URL, you might have mistyped it.";
        document.querySelector(".button").textContent = "Return to homepage"
    }
</script>
<style>
    pre {
        overflow: hidden;
    }
    @media screen and (max-width: 400px){
        pre {
            font-size: 0.8rem;
        }
    }
</style>
{% endblock content %}