{% import "macros.html" as macros %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{{ config.title }}{% endblock %}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/imgs/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/css/normalize.min.css" />
    <link rel="stylesheet" href="/css/main.css" />
    {% set this = '' %}
    {% if page %}
      {% set this = page %}
    {% elif section %}
      {% set this = section %}
    {% endif %}
    <!-- Primary Meta Tags -->
    <meta name="title" content="
    {% if page.title %}
      {{page.title}} - {{config.title}}
    {% else %}
      {{config.title}}
    {% endif %}
      " />
    <meta
      name="description"
      content="{{macros::get_description(page=this)}}"
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ config.base_url }}" />
    <meta property="og:title" content="
    {% if page.title %}
      {{page.title}} - {{config.title}}
    {% else %}
      {{ config.title }}
    {% endif %}" />
    <meta property="og:description" content="{{ macros::get_description(page=this)}}" />
    <meta property="og:image" content="{{ macros::get_cover(page=this) }}" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="{{ config.base_url }}" />
    <meta property="twitter:title" content="
    {% if page.title %}
      {{page.title}} - {{config.title}}
    {% else %}
      {{ config.title }}
    {% endif %}" />
    <meta property="twitter:description" content="{{ macros::get_description(page=this)}}" />
    <meta property="twitter:image" content="{{macros::get_cover(page=this)}}"/>
    {% block custom_head %}{% endblock %}
  </head>
  <body>
    <div id="container">
      <header>
        <a href="{{ config.base_url }}"
          ><img src="/imgs/white-logo.svg" alt="Logo" id="vector-logo"
        /></a>
        <ul id="languages">
          {% if this.translations %}
            {% for translation in this.translations %}
              <li class="language"><a href="{{translation.permalink}}">
                {% if translation.lang == "vi" %}
                  Tiếng Việt
                {% elif translation.lang == "en" %}
                  English
                {% else %}  
                  {{translation.lang}}
                {% endif %}
              </a></li>
            {% endfor %}
          {% endif %}
        </ul>
      </header>
      <main>{% block content %} {% endblock %}</main>
      <footer>
        <p id="copyright">@2021 - All right rdeserved.</p>
      </footer>
      {% if config.extra.analytics_enabled %}
        <script 
        data-host="https://microanalytics.io" 
        data-dnt="false" 
        src="https://microanalytics.io/js/script.js" 
        id="{{config.extra.analytics_id}}" async defer></script>
      {% endif %}
    </div>
  </body>
</html>
