{% extends "base.html" %}
{% import "macros.html" as macros %}
{% block title %} 
    {{ page.title }} - {{ config.title}} 
{% endblock title %} 

{% block custom_head %}
<link rel="stylesheet" href="/css/blog-post.css" />
{% endblock custom_head %} 
 
{% block content %}
<div id="post">
    <progress id="reading-progress" value="0" max="100"></progress>
    <p id="post-date">{{ page.date }}</p>
    <h1 id="post-title">{{ page.title }}</h1>
    <img src="{{ macros::get_cover(page=page) }}" id="post-cover">
    <div id="post-content">{{ page.content | safe }}</div>
</div>
<script src="/js/blog_post.js" defer></script>
{% endblock content %}
