{% extends "base.html" %}


{% block title %}
    {{ section.title }} - {{ config.title }}
{% endblock title %}

{% block custom_head %}
    <link rel="stylesheet" href="/css/blog.css">
{% endblock custom_head %}


{% block content %}
<div id="blog-container">
    <div id="blog-header">
        <h1 id="heading">Microblog</h1>
        <a href="/atom.xml" id="subscribe">
            <img src="/imgs/rss.svg" id="rss-icon"><span id="subscribe-text">{{ trans(key="subscribe", lang = section.lang) }}</span></a>
    </div>
    {% set_global postCount = 0 %}
    {% for page in paginator.pages %}
        {% set_global postCount = postCount + 1 %}
        <div class="micropost">
            <div class="post-content">{{ page.content | safe }}</div>
            <div class="micropost-actions">
                <button class="act">
                    <img src="/imgs/heart.svg" alt="Like">
                </button>
                <a href="mailto:quangthang@tutanota.com?subject=Re : {{page.title}}" class="button act">
                    <img src="/imgs/message-circle.svg" alt="Comment">
                </a>
                </a>
            </div>
        </div>
    {% endfor %}
    <nav id="pagination">
        {% if paginator.previous %}
            <a href="{{ paginator.previous }}" id="previous" class="button">
                {{ trans(key = "previous_page", lang = section.lang)}}
            </a>
        {% endif %}
        {% if paginator.next %}
            <a href="{{ paginator.next }}" id="next" class="button">{{ trans(key="next_page", lang = section.lang)}}</a>
        {% endif %}
    </nav>
    {% if postCount == 0 %}
        <div id="no-post">
            <img src="/imgs/frown.svg" alt="" id="sad-icon">
            <p>{{ trans(key="no_post", lang = section.lang) }}</p>
        </div>
    {% endif %}
</div>
{% endblock content %}